*.pyc
.*.swp
.*.swo
logs/*.txt
test/*
config.local.yml

/.fab
/.fab-production
/.fabstage
.DS_Store

ftp_temp
tds_temp
tds_catalogs
data/
secrets/

# BerkeleyDB user database
users.db
.env
.venv/
activate

# ERDDAP datasets.xml, stores persistent changes and must be created by user manually
datasets.xml
.Rproj.user
glider-dac.Rproj
.Rhistory
_docs/ngdac-netcdf-file-format-version-2.html
_docs/ngdac-netcdf-file-format-version-2-creation-code.md
_docs/ngdac-netcdf-file-submission-process.html
